@model IEnumerable<CrudInfotrack.Models.Alumno>
@{
    ViewData["Title"] = "Lista de alumnos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de Alumnos</h3>
        </div>

        <div class="col-sm-6">
            <a class="btn btn-success d-block" asp-action="Create" asp-controller="Alumnos">Registrar nuevo alumno</a>
        </div>
    </div>

    <div class="row">
        @if (Model.Count() > 0)
         {
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Id)</td>
                        <td>@Html.DisplayNameFor(m => m.Nombres)</td>
                        <td>@Html.DisplayNameFor(m => m.Apellidos)</td>
                        <td>@Html.DisplayNameFor(m => m.Num_Documento)</td>
                        <td>@Html.DisplayNameFor(m => m.Fecha_nacimiento)</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                     {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Nombres</td>
                            <td>@item.Apellidos</td>
                            <td>@item.Num_Documento</td>
                            <td>@item.Fecha_nacimiento</td>
                            <td>
                                <a asp-controller="Alumnos" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                <a asp-controller="Alumnos" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                     }
                </tbody>
            </table>
         }
         else
         {
            <p>No existen registros</p>
         }
    </div>
    


</div>

